.singleItem {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 50%;
    align-self: center;
    margin: 0 auto;
}
.singleItem__image-wrapper {
    height: 100px;
}
.singleItem__image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}