.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    width: 32.5%;
}
.item span {
    margin: 5px 0;
}
.item__image-wrapper {
}
.item__image {
    max-width: 100%;
    max-height: 100%;

}